# Exercise 6.1 Sourcing Open Data - Covid Vaccinations

This Script follows the following Structure.

    1.1 Importing libraries
    1.2 creating path and importing Dataframe
    2.1 Consistency Checks & Cleaning
    3.1 Basic Descriptive Analysis

# 1.1 Importing Libraries

In [50]:
# import libraries

import pandas as pd
import numpy as np
import os

# 1.2 Creating path and Importing Dataframe

In [51]:
# creating path

path = r'C:\Users\stefa\Jupyter Analysis\14-04-2022 Achievement6'

In [52]:
# importing dataframe

df = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'original.csv'), index_col = False)

In [53]:
df.head()

,location,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,total_boosters,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,total_boosters_per_hundred,daily_vaccinations_per_million,daily_people_vaccinated,daily_people_vaccinated_per_hundred
0,Afghanistan,AFG,22/02/2021,0.0,0.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,23/02/2021,NaN,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,NaN,34.0,1367.0,0.003
2,Afghanistan,AFG,24/02/2021,NaN,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,NaN,34.0,1367.0,0.003
3,Afghanistan,AFG,25/02/2021,NaN,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,NaN,34.0,1367.0,0.003
4,Afghanistan,AFG,26/02/2021,NaN,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,NaN,34.0,1367.0,0.003

In [54]:
df.tail()

,location,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,total_boosters,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,total_boosters_per_hundred,daily_vaccinations_per_million,daily_people_vaccinated,daily_people_vaccinated_per_hundred
94725,Zimbabwe,ZWE,08/04/2022,9939183.0,5665806.0,3586013.0,687364.0,54400.0,65427.0,65.86,37.54,23.76,4.55,4335.0,41853.0,0.277
94726,Zimbabwe,ZWE,09/04/2022,10005905.0,5707409.0,3597994.0,700502.0,66722.0,57912.0,66.30,37.82,23.84,4.64,3837.0,35961.0,0.238
94727,Zimbabwe,ZWE,10/04/2022,10025127.0,5721969.0,3599536.0,703622.0,19222.0,47237.0,66.43,37.91,23.85,4.66,3130.0,29170.0,0.193
94728,Zimbabwe,ZWE,11/04/2022,10043468.0,5734219.0,3600666.0,708583.0,18341.0,39038.0,66.55,37.99,23.86,4.70,2587.0,24540.0,0.163
94729,Zimbabwe,ZWE,12/04/2022,10074016.0,5753797.0,3604044.0,716175.0,30548.0,38070.0,66.75,38.12,23.88,4.75,2522.0,23541.0,0.156

In [55]:
df.shape

(94730, 16)

# Consistency Checks & Cleaning

In [56]:
# Removal of unwanted column

df = df.drop(columns = ['iso_code'])

In [57]:
df.head()

,location,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,total_boosters,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,total_boosters_per_hundred,daily_vaccinations_per_million,daily_people_vaccinated,daily_people_vaccinated_per_hundred
0,Afghanistan,22/02/2021,0.0,0.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,23/02/2021,NaN,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,NaN,34.0,1367.0,0.003
2,Afghanistan,24/02/2021,NaN,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,NaN,34.0,1367.0,0.003
3,Afghanistan,25/02/2021,NaN,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,NaN,34.0,1367.0,0.003
4,Afghanistan,26/02/2021,NaN,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,NaN,34.0,1367.0,0.003

In [58]:
df.shape

(94730, 15)

# Checking Datatypes

In [59]:
# check for mixed Datatypes

for col in df.columns.tolist():
  weird = (df[[col]].applymap(type) != df[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df[weird]) > 0:
    print (col)

no mixed datatypes found

In [60]:
df.dtypes

location                                object
date                                    object
total_vaccinations                     float64
people_vaccinated                      float64
people_fully_vaccinated                float64
total_boosters                         float64
daily_vaccinations_raw                 float64
daily_vaccinations                     float64
total_vaccinations_per_hundred         float64
people_vaccinated_per_hundred          float64
people_fully_vaccinated_per_hundred    float64
total_boosters_per_hundred             float64
daily_vaccinations_per_million         float64
daily_people_vaccinated                float64
daily_people_vaccinated_per_hundred    float64
dtype: object

In [61]:
df['date'] = df['date'].astype('datetime64[ns]')

In [62]:
df.head()

,location,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,total_boosters,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,total_boosters_per_hundred,daily_vaccinations_per_million,daily_people_vaccinated,daily_people_vaccinated_per_hundred
0,Afghanistan,2021-02-22,0.0,0.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,2021-02-23,NaN,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,NaN,34.0,1367.0,0.003
2,Afghanistan,2021-02-24,NaN,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,NaN,34.0,1367.0,0.003
3,Afghanistan,2021-02-25,NaN,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,NaN,34.0,1367.0,0.003
4,Afghanistan,2021-02-26,NaN,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,NaN,34.0,1367.0,0.003

# Missing Values

In [63]:
# missing values

df.isnull().sum()

location                                   0
date                                       0
total_vaccinations                     44238
people_vaccinated                      46634
people_fully_vaccinated                49243
total_boosters                         72820
daily_vaccinations_raw                 52714
daily_vaccinations                       298
total_vaccinations_per_hundred         44238
people_vaccinated_per_hundred          46634
people_fully_vaccinated_per_hundred    49243
total_boosters_per_hundred             72820
daily_vaccinations_per_million           298
daily_people_vaccinated                 1224
daily_people_vaccinated_per_hundred     1224
dtype: int64

For the missing Values I decided not to delete them and rather imputing them with 0 as it seems that not every Country is reporting their vaccinations regularly. So the Data is actually not missing and more likely not updated regularly.

In [64]:
# replacing missing values

df.fillna(0, inplace =True)

In [65]:
# verification of replacement

df.head()

,location,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,total_boosters,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,total_boosters_per_hundred,daily_vaccinations_per_million,daily_people_vaccinated,daily_people_vaccinated_per_hundred
0,Afghanistan,2021-02-22,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000
1,Afghanistan,2021-02-23,0.0,0.0,0.0,0.0,0.0,1367.0,0.0,0.0,0.0,0.0,34.0,1367.0,0.003
2,Afghanistan,2021-02-24,0.0,0.0,0.0,0.0,0.0,1367.0,0.0,0.0,0.0,0.0,34.0,1367.0,0.003
3,Afghanistan,2021-02-25,0.0,0.0,0.0,0.0,0.0,1367.0,0.0,0.0,0.0,0.0,34.0,1367.0,0.003
4,Afghanistan,2021-02-26,0.0,0.0,0.0,0.0,0.0,1367.0,0.0,0.0,0.0,0.0,34.0,1367.0,0.003

In [66]:
df.isnull().sum()

location                               0
date                                   0
total_vaccinations                     0
people_vaccinated                      0
people_fully_vaccinated                0
total_boosters                         0
daily_vaccinations_raw                 0
daily_vaccinations                     0
total_vaccinations_per_hundred         0
people_vaccinated_per_hundred          0
people_fully_vaccinated_per_hundred    0
total_boosters_per_hundred             0
daily_vaccinations_per_million         0
daily_people_vaccinated                0
daily_people_vaccinated_per_hundred    0
dtype: int64

# Duplicates

In [67]:
# checking for duplicates

df[df.duplicated()]

Empty DataFrame
Columns: [location, date, total_vaccinations, people_vaccinated, people_fully_vaccinated, total_boosters, daily_vaccinations_raw, daily_vaccinations, total_vaccinations_per_hundred, people_vaccinated_per_hundred, people_fully_vaccinated_per_hundred, total_boosters_per_hundred, daily_vaccinations_per_million, daily_people_vaccinated, daily_people_vaccinated_per_hundred]
Index: []

No duplicates have been found

# Consistency

In [68]:
pd.options.display.max_rows = None

In [69]:
df['location'].value_counts()

High income                         498
World                               498
Europe                              498
Norway                              497
European Union                      496
Latvia                              496
Denmark                             491
North America                       487
United States                       486
Upper middle income                 485
Russia                              485
Canada                              485
Asia                                485
China                               484
Israel                              481
Qatar                               478
Switzerland                         477
Liechtenstein                       477
South America                       476
Chile                               475
Costa Rica                          474
Czechia                             473
Germany                             473
Slovenia                            473
Italy                               473
Lithuania                           473
Estonia                             472
Romania                             472
Poland                              472
France                              472
Hungary                             472
Greece                              472
Bulgaria                            471
Argentina                           470
Ireland                             470
Croatia                             469
Luxembourg                          468
Belgium                             468
Singapore                           468
Bahrain                             467
Finland                             466
Spain                               464
Kuwait                              463
United Arab Emirates                463
Slovakia                            463
Belarus                             462
Cayman Islands                      462
Mexico                              461
Africa                              460
Sweden                              460
United Kingdom                      458
Wales                               458
Scotland                            458
Northern Ireland                    458
England                             458
Albania                             457
Indonesia                           457
Lower middle income                 457
Oman                                456
Austria                             456
Turkey                              456
Iceland                             455
Bermuda                             454
Saudi Arabia                        454
India                               454
Gibraltar                           453
Brazil                              452
Azerbaijan                          452
Malta                               451
Netherlands                         449
Turks and Caicos Islands            447
Ecuador                             446
Seychelles                          445
Jordan                              444
Panama                              444
Nepal                               443
Myanmar                             442
Bangladesh                          441
Isle of Man                         440
Serbia                              439
Portugal                            439
Kazakhstan                          438
Pakistan                            436
Oceania                             436
French Polynesia                    434
New Caledonia                       434
Bolivia                             434
Maldives                            432
Sri Lanka                           432
Mauritius                           431
Morocco                             431
Iran                                430
Macao                               429
Anguilla                            429
Egypt                               428
Andorra                             427
Cambodia                            426
Peru                                426
Lebanon                             425
New Zealand                         424
Guernsey                            424
Dominican Republic                  423
Trinidad and Tobago                 423
Dominica                            422
South Africa                        422
Grenada                             422
Guyana                              422
Barbados                            422
Japan                               421
Zimbabwe                            419
Colombia                            419
Montserrat                          418
Australia                           417
Cyprus                              417
Montenegro                          417
Saint Lucia                         417
Mongolia                            416
Low income                          414
Malaysia                            414
Hong Kong                           413
North Macedonia                     412
El Salvador                         412
South Korea                         412
Thailand                            411
Uruguay                             411
Rwanda                              410
Venezuela                           409
Antigua and Barbuda                 409
Philippines                         408
Guatemala                           408
Afghanistan                         407
Suriname                            406
Algeria                             405
Moldova                             405
Greenland                           405
Paraguay                            404
Jamaica                             401
San Marino                          401
Iraq                                399
Belize                              398
Honduras                            398
Nicaragua                           397
Ghana                               396
Georgia                             396
Laos                                393
Cote d'Ivoire                       392
Fiji                                392
Syria                               392
Mozambique                          390
Angola                              390
Nigeria                             389
Taiwan                              389
Tunisia                             389
Sudan                               387
Senegal                             387
Saint Vincent and the Grenadines    387
Faeroe Islands                      386
Jersey                              386
Kenya                               386
Uganda                              386
Solomon Islands                     385
Wallis and Futuna                   385
Bahamas                             383
Kosovo                              382
Kyrgyzstan                          382
Sierra Leone                        381
Aruba                               381
Curacao                             381
Vietnam                             381
Sao Tome and Principe               380
Lesotho                             379
Namibia                             379
Gambia                              377
Equatorial Guinea                   376
Gabon                               375
Bhutan                              374
Cape Verde                          374
Mauritania                          371
Palestine                           370
Niger                               369
Ukraine                             369
Nauru                               369
Uzbekistan                          369
Armenia                             369
Saint Kitts and Nevis               369
Togo                                368
Guinea                              368
Brunei                              365
Zambia                              365
Papua New Guinea                    364
Botswana                            362
Malawi                              362
Mali                                361
Tonga                               357
Monaco                              357
Timor                               357
Libya                               356
Eswatini                            356
Ethiopia                            354
South Sudan                         353
Somalia                             353
Bosnia and Herzegovina              353
Congo                               352
Djibouti                            352
Cameroon                            345
Samoa                               343
Democratic Republic of Congo        341
Cuba                                335
Comoros                             335
Tajikistan                          332
Sint Maarten (Dutch part)           330
Madagascar                          324
Liberia                             324
Central African Republic            324
Guinea-Bissau                       319
Northern Cyprus                     317
British Virgin Islands              316
Benin                               315
Cook Islands                        315
Vanuatu                             315
Yemen                               312
Kiribati                            308
Burkina Faso                        303
Chad                                295
Haiti                               267
Niue                                266
Tanzania                            228
Turkmenistan                        190
Tuvalu                              179
Burundi                             164
Bonaire Sint Eustatius and Saba     146
Tokelau                             114
Saint Helena                         92
Pitcairn                             85
Falkland Islands                     67
Name: location, dtype: int64

In [70]:
# It seems there is a classification in the Countries labeled in the income range- Will leave it for now but keeping it in mind if its a label compared the income of a country vs the Vaccination Rate, that would be quite interesting.

In [71]:
# consistency in the Date

df['date'].value_counts()

2021-08-26    232
2021-08-30    232
2021-08-28    232
2021-08-27    232
2021-08-13    232
2021-08-25    232
2021-08-24    232
2021-08-23    232
2021-08-22    232
2021-08-21    232
2021-08-20    232
2021-08-19    232
2021-08-18    232
2021-08-17    232
2021-08-16    232
2021-08-15    232
2021-08-14    232
2021-08-08    232
2021-09-08    232
2021-10-08    232
2021-11-08    232
2021-08-29    232
2021-12-08    232
2021-08-31    232
2021-01-09    232
2021-07-28    231
2021-07-27    231
2021-07-26    231
2021-07-25    231
2021-07-08    231
2021-06-08    231
2021-05-08    231
2021-04-08    231
2021-03-08    231
2021-02-08    231
2021-01-08    231
2021-07-31    231
2021-07-30    231
2021-07-24    231
2021-07-23    231
2021-07-22    231
2021-07-21    231
2021-07-20    231
2021-07-19    231
2021-07-18    231
2021-07-17    231
2021-07-16    231
2021-05-09    231
2021-04-09    231
2021-03-09    231
2021-02-09    231
2021-07-29    231
2021-06-09    230
2021-06-21    230
2021-06-22    230
2021-05-07    230
2021-07-15    230
2021-07-14    230
2021-07-13    230
2021-12-07    230
2021-11-07    230
2021-10-07    230
2021-09-07    230
2021-08-07    230
2021-07-07    230
2021-06-07    230
2021-04-07    230
2021-06-23    230
2021-03-07    230
2021-02-07    230
2021-01-07    230
2021-06-30    230
2021-06-29    230
2021-06-28    230
2021-06-27    230
2021-06-26    230
2021-06-25    230
2021-06-24    230
2021-07-09    230
2021-12-09    229
2021-09-09    229
2021-08-10    229
2021-01-10    229
2021-02-10    229
2021-03-10    229
2021-04-10    229
2021-05-10    229
2021-06-10    229
2021-07-10    229
2021-09-10    229
2021-09-29    229
2021-10-10    229
2021-11-10    229
2021-12-10    229
2021-10-09    229
2021-10-20    229
2021-10-21    229
2021-10-22    229
2021-09-30    229
2021-10-19    229
2021-09-28    229
2021-09-18    229
2021-09-27    229
2021-11-09    229
2021-09-13    229
2021-09-14    229
2021-09-15    229
2021-09-16    229
2021-09-17    229
2021-08-09    229
2021-09-19    229
2021-09-21    229
2021-09-20    229
2021-09-22    229
2021-09-23    229
2021-09-24    229
2021-09-25    229
2021-09-26    229
2021-11-17    228
2021-10-11    228
2021-11-11    228
2021-12-11    228
2021-11-13    228
2021-11-14    228
2021-11-15    228
2021-11-16    228
2021-11-20    228
2021-11-18    228
2021-11-19    228
2021-08-11    228
2021-11-21    228
2021-11-22    228
2021-11-23    228
2021-11-24    228
2021-11-25    228
2021-11-26    228
2021-09-11    228
2021-04-11    228
2021-07-11    228
2021-06-11    228
2021-10-13    228
2021-10-14    228
2021-10-15    228
2021-10-16    228
2021-10-17    228
2021-10-18    228
2021-10-23    228
2021-10-24    228
2021-10-25    228
2021-10-26    228
2021-10-27    228
2021-10-28    228
2021-10-31    228
2021-01-11    228
2021-02-11    228
2021-03-11    228
2021-05-11    228
2021-10-30    228
2021-10-29    228
2021-06-20    228
2021-06-18    228
2021-06-17    228
2021-06-16    228
2021-06-15    228
2021-06-19    228
2021-04-12    227
2021-08-12    227
2021-07-12    227
2021-06-12    227
2021-05-12    227
2021-01-12    227
2021-03-12    227
2021-02-12    227
2021-10-12    227
2021-11-29    227
2021-09-12    227
2021-12-12    227
2021-11-12    227
2021-11-27    227
2021-12-13    227
2021-12-14    227
2021-12-15    227
2021-12-16    227
2021-12-17    227
2021-12-18    227
2021-12-19    227
2021-12-20    227
2021-12-21    227
2021-11-28    227
2021-11-30    227
2021-10-06    227
2021-11-06    227
2021-12-06    227
2021-06-13    227
2021-06-14    227
2021-09-06    226
2022-01-13    226
2022-06-01    226
2022-07-01    226
2022-08-01    226
2022-09-01    226
2022-10-01    226
2022-11-01    226
2022-12-01    226
2022-01-16    226
2022-01-14    226
2022-01-15    226
2022-04-01    226
2021-04-06    226
2022-01-18    226
2022-01-19    226
2022-01-20    226
2022-01-21    226
2022-05-01    226
2022-01-01    226
2022-03-01    226
2021-12-24    226
2021-02-06    226
2021-05-06    226
2021-06-06    226
2021-07-06    226
2021-08-06    226
2021-12-22    226
2021-12-23    226
2021-12-25    226
2022-02-01    226
2021-12-26    226
2021-12-27    226
2021-12-28    226
2021-12-29    226
2021-12-30    226
2021-12-31    226
2022-01-23    226
2022-01-22    226
2022-01-17    226
2022-01-24    226
2022-01-28    226
2022-01-25    226
2022-01-29    226
2021-03-06    226
2022-01-27    226
2022-01-26    226
2022-11-02    225
2021-01-06    225
2022-02-18    225
2022-02-17    225
2022-02-16    225
2022-02-15    225
2022-02-14    225
2022-02-13    225
2022-12-02    225
2022-10-02    225
2022-09-02    225
2022-08-02    225
2022-07-02    225
2022-06-02    225
2022-05-02    225
2022-04-02    225
2022-03-02    225
2022-02-02    225
2022-01-02    225
2022-01-31    225
2022-01-30    225
2022-02-23    224
2022-02-25    224
2022-02-24    224
2022-02-22    224
2022-02-20    224
2022-02-19    224
2022-02-21    224
2022-02-26    223
2021-05-31    223
2021-05-30    223
2021-05-29    223
2021-05-28    223
2021-05-27    223
2021-05-26    223
2021-05-25    223
2021-05-24    222
2021-05-23    222
2021-05-22    222
2022-02-27    222
2021-05-21    222
2022-01-03    221
2022-06-03    221
2022-05-03    221
2022-04-03    221
2022-03-03    221
2021-05-19    221
2022-02-03    221
2022-07-03    221
2022-02-28    221
2021-05-20    221
2021-05-18    221
2021-05-15    221
2021-12-05    221
2021-05-13    221
2021-05-17    221
2021-05-14    221
2021-05-16    221
2022-09-03    220
2022-08-03    220
2022-10-03    219
2022-11-03    218
2022-03-13    217
2022-12-03    217
2021-11-05    215
2021-10-05    215
2021-09-05    215
2022-03-14    215
2022-03-15    215
2021-07-05    214
2022-03-16    214
2021-08-05    214
2022-03-18    213
2022-03-19    213
2021-05-05    213
2021-04-05    213
2022-03-20    213
2022-03-17    213
2021-04-30    212
2021-04-27    212
2021-04-28    212
2021-04-29    212
2021-01-05    212
2021-02-05    212
2021-03-05    212
2021-06-05    212
2021-04-26    211
2021-04-25    211
2021-04-24    211
2021-04-23    211
2021-04-22    211
2021-04-21    211
2022-03-21    211
2021-04-20    210
2021-04-18    209
2021-04-19    209
2021-04-17    208
2022-03-22    207
2021-04-14    206
2021-04-15    205
2021-04-16    205
2021-11-04    203
2022-03-23    203
2021-12-04    203
2021-04-13    203
2021-10-04    202
2021-09-04    202
2021-08-04    201
2022-03-24    200
2021-07-04    199
2021-06-04    199
2021-05-04    199
2021-02-04    198
2021-03-04    198
2022-03-25    198
2021-04-04    198
2021-01-04    197
2021-03-31    197
2022-03-26    196
2021-03-30    195
2022-03-27    193
2021-03-29    191
2021-03-28    189
2022-03-28    187
2021-03-26    186
2021-03-27    186
2022-03-29    185
2021-03-25    184
2021-03-24    183
2021-03-23    183
2021-03-22    181
2021-03-21    180
2021-03-19    179
2021-03-20    179
2022-03-30    179
2021-03-18    178
2022-03-31    178
2021-03-17    176
2021-03-16    172
2021-03-15    171
2021-03-14    170
2021-03-13    167
2021-12-03    166
2021-11-03    165
2021-10-03    165
2021-09-03    164
2022-01-04    160
2021-08-03    159
2021-07-03    159
2021-06-03    157
2021-05-03    157
2021-04-03    156
2021-03-03    154
2021-02-03    154
2021-01-03    154
2022-02-04    149
2022-03-04    148
2021-02-28    148
2021-02-27    144
2021-02-26    141
2021-02-25    140
2021-02-24    139
2021-02-22    137
2021-02-23    137
2022-04-04    134
2021-02-21    130
2021-02-20    129
2021-02-19    128
2021-02-18    128
2021-02-17    127
2022-05-04    124
2021-02-16    123
2022-07-04    122
2022-06-04    122
2021-02-15    119
2022-08-04    118
2021-02-14    114
2021-02-13    113
2021-12-02    112
2021-11-02    112
2021-10-02    108
2021-09-02    108
2022-09-04    108
2021-08-02    107
2022-10-04    104
2021-07-02    103
2021-04-02    102
2021-05-02    102
2021-06-02    102
2021-03-02    101
2022-11-04    100
2021-02-02    100
2021-01-31     94
2021-01-02     94
2021-01-29     93
2021-01-30     93
2021-01-28     91
2021-01-27     89
2021-01-26     88
2021-01-25     85
2021-01-24     83
2021-01-23     81
2021-01-22     81
2021-01-21     81
2022-12-04     81
2021-01-20     80
2021-01-19     78
2021-01-18     78
2021-01-17     78
2021-01-16     75
2021-01-15     75
2021-01-14     74
2021-01-13     73
2021-12-01     72
2021-11-01     69
2021-10-01     69
2021-09-01     60
2021-08-01     57
2022-04-13     56
2021-07-01     55
2021-06-01     55
2021-05-01     53
2021-04-01     52
2021-03-01     51
2021-02-01     48
2021-01-01     48
2020-12-31     48
2020-12-30     48
2020-12-29     44
2020-12-28     42
2020-12-27     33
2020-12-26     24
2020-12-25     23
2020-12-24     23
2020-12-23     19
2020-12-22     18
2020-12-21     17
2020-12-19     15
2020-12-20     15
2020-12-18     14
2020-12-17     14
2020-12-16     14
2020-12-15     14
2020-12-14     10
2020-12-13      9
2020-12-12      7
2020-11-12      7
2020-10-12      7
2020-09-12      7
2020-08-12      7
2020-04-12      6
2020-05-12      6
2020-06-12      6
2020-07-12      6
2020-02-12      4
2020-03-12      4
Name: date, dtype: int64

In [72]:
# Since some countries do not report daily, there is a difference in the Value. We might combine the dates as a monthly Vaccination Rate at a later point.

# Descriptive Statistics

In [73]:
df1 = df.describe()

In [74]:
df1

,total_vaccinations,people_vaccinated,people_fully_vaccinated,total_boosters,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,total_boosters_per_hundred,daily_vaccinations_per_million,daily_people_vaccinated,daily_people_vaccinated_per_hundred
count,9.473000e+04,9.473000e+04,9.473000e+04,9.473000e+04,9.473000e+04,9.473000e+04,94730.000000,94730.000000,94730.000000,94730.000000,94730.000000,9.473000e+04,94730.000000
mean,1.005242e+08,4.784964e+07,3.652573e+07,6.025875e+06,4.897801e+05,4.930231e+05,43.061846,20.735929,16.967937,3.720589,3214.917217,1.933973e+05,0.138559
std,6.277475e+08,3.061256e+08,2.509554e+08,6.015489e+07,2.842045e+06,2.692721e+06,64.306700,29.279645,26.482606,11.784800,3897.650324,1.107604e+06,0.236273
min,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000
25%,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+03,0.000000,0.000000,0.000000,0.000000,624.000000,3.360000e+02,0.020000
50%,4.583050e+04,3.651000e+03,0.000000e+00,0.000000e+00,0.000000e+00,8.984000e+03,0.950000,0.040000,0.000000,0.000000,2048.000000,3.370000e+03,0.063000
75%,6.920189e+06,3.431536e+06,2.171751e+06,0.000000e+00,2.436700e+04,6.275900e+04,77.217500,43.000000,29.220000,0.000000,4607.000000,2.386000e+04,0.175000
max,1.142447e+10,5.105504e+09,4.602749e+09,1.739145e+09,5.450638e+07,4.356811e+07,353.040000,124.800000,122.690000,105.550000,117497.000000,2.137798e+07,11.750000

In [75]:
df1.to_clipboard()

# Exporting prepared Dataframe

In [77]:
df.to_csv(os.path.join(path, '02 Data', 'Prepared Data', 'Covid.csv'), index = False)